REDIS_URL=redis://redis:6379/0

BYBIT_WS_PUBLIC_SPOT=wss://stream.bybit.com/v5/public/spot

SYMBOLS=BTCUSDT,ETHUSDT,ETHBTC,SOLUSDT,SOLBTC,SOLETH

TAKER_FEE_BPS=5.5
SLIPPAGE_BPS_BUFFER=10

PRINT_EVERY_SEC=1
TOP_N=15
EDGE_THRESHOLD_BPS=2
MAX_STALE_MS=1500

# Telegram (optional; leave empty to disable)
TELEGRAM_BOT_TOKEN=8639567659:AAEUmgX_TjUknJrm5_qKV0R6x4BW5oJhRfs
TELEGRAM_CHAT_ID=-1003730982484
